#wrapper1 {
    display: flex;
}

.chart {
    padding: 5px 5px;
}

svg {
    /* background-color: blue; */
}

text {
    font-family: sans-serif;
    alignment-baseline: middle;
    text-anchor: middle;
    color:green ;
}